.header{
    background-color: #323b41; 
}

.carousel-caption{
  text-align: right;
  position: absolute;
}
    
.navbar-nav.navbar-right {
   display: flex;
   justify-content: space-between;
   flex-direction: row;
}

.badge{
    width: 70px;
}

p.card.text{
    text-align: left;
}

.btn.btn-secondary.btn-md{
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
}

.container{
  text-align: center;
}

.boton{
   font-size: 22px;
   border-color: #81c53d; 
}

.contenedor{
    display: flex;
    list-style:none;
    text-decoration:none;
    justify-content: space-around;
    flex-grow: 1;
}


